@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

html {
  font-size: 18px;
}

body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);

  /* ### Secondary */

  --Red: hsl(0, 87%, 67%);

  /* ### Neutral */

  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(264, 12%, 92%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
}

body > * {
  padding: 0 5rem;
  background-color: var(--Grayish-Violet);
}

/* common occuring styles */
.logo {
  height: 1.8rem;
  width: 7.5rem;
  background-image: url("./images/logo.svg");
  background-repeat: no-repeat;
}

p {
  color: var(--Gray);
}

.btn {
  background-color: var(--Cyan);
  color: white;
  padding: 0.5em 1.5em;
  width: max-content;
  border-radius: 20px;
  font-weight: 700;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.url-shortener-div .btn,
.shortened-links-div .btn {
  border-radius: 5px;
}

.title {
  color: var(--Very-Dark-Violet);
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;
}

.nav-links-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links-container > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link--logo {
  margin-right: 1rem;
}

.nav-link {
  font-weight: 700;
  font-size: 0.8rem;
}

.nav-link:hover:not(.btn) {
  color: black;
  cursor: pointer;
}

.nav-links-container--left {
  width: 30%;
}

.nav-links-container--right {
  width: 20%;
}

/* main */
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
  padding-top: 3rem;
  padding-bottom: 1rem;
  overflow: hidden;
  background-color: white;
}

.main--info {
  align-self: center;
}

.main--info--title {
  font-weight: 700;
  font-size: 3.7rem;
  line-height: 1.2;
}

.main--info p {
  margin-bottom: 2rem;
  line-height: 1.5;
}

/* .main--info .btn {
  margin-bottom: 13rem;
} */

.main--img {
  background-image: url("./images/illustration-working.svg");
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  position: relative;
  left: 90px;
}

/* url shortener */
.url-shortener-div {
  padding: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  position: relative;
  background-image: url("./images/bg-shorten-desktop.svg");
  background-color: var(--Dark-Violet);
  justify-content: space-between;
  border-radius: 7px;
  align-content: center;
  transform: translateY(50%);
}

.url-shortener-div > *:not(p.empty) {
  padding: 1rem;
  font-size: 1rem;
}

input[type="text"] {
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 1rem;
  margin-right: 1.5rem;
  flex: 1;
  color: var(--Gray);
  font-weight: 700;
  font-size: 1rem;
}

input[type="text"].empty {
  border-color: var(--Red);
  color: var(--Red);
}

.url-shortener-div p:not(.btn) {
  font-size: 0.8rem;
  display: none;
}

p.empty {
  color: var(--Red);
  position: absolute;
  bottom: 20px;
}

/* shortened links */

.shortened-links-div {
  padding-top: 120px;
  padding-bottom: 5rem;
}

.shortened-links-div > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 0.9rem;
}

.shortened-links-div > *:nth-child(even) {
  margin: 2rem 0;
}

.shortened-links-div > * div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shortened-link-div > p {
  color: var(--Very-Dark-Violet);
  width: 75%;
  word-wrap: break-word;
}

.shortened-link-div > div p:not(.btn) {
  color: var(--Cyan);
  margin-right: 1rem;
}

/* advanced statistics */
.advanced-statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  position: relative;
  z-index: -10;
}

.advanced-statistics .title {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  width: max-content;
}

.advanced-statistics--info {
  text-align: center;
  width: 40%;
  color: hsl(257, 7%, 63%);
}
/* cards */
.cards-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10rem;
  gap: 1.25rem;
  position: relative;
  z-index: -1;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 0.85rem;
  position: relative;
  z-index: 1;
}

.card--2 {
  transform: translateY(15%);
}

.card--3 {
  transform: translateY(30%);
}

.card-img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  background-color: var(--Very-Dark-Blue);
  transform: translateY(calc(-50% - 0.85rem));
  background-position: center;
  background-repeat: no-repeat;
}

.card--title {
  margin-bottom: 1rem;
}

.card--info {
  color: hsl(257, 7%, 63%);
}

.card-img--brand-recognition {
  background-image: url("./images/icon-brand-recognition.svg");
}

.card-img--detailed-records {
  background-image: url("./images/icon-detailed-records.svg");
}

.card-img--fully-customizable {
  background-image: url("./images/icon-fully-customizable.svg");
}

.line {
  background-color: var(--Cyan);
  width: calc(100% - 10rem);
  height: 10px;
  position: absolute;
  top: 30%;
  z-index: -1;
}

/* boost */
.boost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-Violet);
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("./images/bg-boost-desktop.svg");
}

.boost--title {
  color: white;
  margin-bottom: 1rem;
}

/* footer */
footer {
  background-color: var(--Very-Dark-Blue);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

footer .logo--footer {
  color: white;
  font-size: 2rem;
  margin-right: 2rem;
  padding: 0;
  margin: 0;
}

footer p:not(.footer-links--title):hover {
  cursor: pointer;
  color: var(--Cyan);
}

.footer-links--title {
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer-icons {
  display: flex;
  margin-top: 1rem;
}

.footer-icons > *:nth-child(even) {
  margin: 0 1rem;
}

.icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon:hover {
  fill: var(--Cyan);
  cursor: pointer;
}

.icon--facebook {
  background-image: url("./images/icon-facebook.svg");
}

.icon--twitter {
  background-image: url("./images/icon-twitter.svg");
}

.icon--pinterest {
  background-image: url("./images/icon-pinterest.svg");
}

.icon--instagram {
  background-image: url("./images/icon-instagram.svg");
}

/* making it responsive */
@media screen and (max-width: 1100px) {
  body > * {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow: hidden;
  }

  nav {
    position: relative;
    overflow: visible;
  }

  .nav-links-container {
    visibility: hidden;
    position: absolute;
    width: calc(100% - 3rem);
    top: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 20;
    background-color: var(--Dark-Violet);
    border-radius: 10px;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
  }

  .nav-links-container > * {
    flex-direction: column;
    gap: 1rem;
  }

  .nav-links-container--left {
    border-bottom: 0.1px solid var(--Gray);
    padding-bottom: 1rem;
    width: 100%;
  }

  .nav-links-container p {
    color: white;
    font-size: 1rem;
  }

  .nav-links-container--right,
  p.btn--signup {
    width: 100%;
  }

  i.fas {
    color: var(--Gray);
    font-size: 1.5rem;
  }

  i.fas:hover {
    cursor: pointer;
  }

  main {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -10;
  }

  .main--info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main--img {
    background-position: right;
    width: 800px;
    margin-bottom: 1.5rem;
    position: relative;
    z-index: 2;
  }

  .url-shortener-div {
    flex-direction: column;
    gap: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 1.5rem;
  }

  .url-shortener-div > * {
    width: 100%;
  }

  .btn {
    text-align: center;
  }

  .shortened-links-div > * {
    text-align: center;
    gap: 1rem;
    width: 100%;
    flex-direction: column;
  }
  .shortened-link-div div {
    border-top: 1px solid grey;
    padding-top: 0.7rem;
    flex-direction: column;
    gap: 0.7rem;
    width: 100%;
  }

  .btn--copy {
    width: 100%;
  }

  .cards-container {
    flex-direction: column;
    text-align: center;
    padding-top: 2.5rem;
  }

  .line {
    display: none;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
  }
}
